<% provide(:title, "ホーム") %>

<div class="row home">
   <h1 class="text-nowrap slide-bottom show">最高の時間管理を<br>あなたに</h1>
   
</div>
<div class="row center slide-bottom showbtn">
   <% if logged_in? %>
      <%= link_to "時間割",subjects_show_path,class: "btn btn-lg btn-warning" %>
      <%= link_to "学習時間",studytimes_show_path,class: "btn btn-lg btn-success" %>
      <%= link_to "予定表",notifications_path,class: "btn btn-lg btn-info" %>
   <% else %>
      <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-warning" %>
   <% end %>

</div>

<div class="row homeex">
   <h1>このアプリの使い方</h1>
   <div class="col-md-4 slide-bottom show mb">
      <div class="col-md-10 col-md-push-1 wht center">
         <h2>Step1</h2>
         <h3>時間割を登録</h3>
         <%= image_tag 'subject.jpg',:size=> '150x150' %>
         <p>時間割を登録する。</p>
      </div>
   </div>
   <div class="col-md-4 slide-bottom show mb">
      <div class="col-md-10 col-md-push-1 wht center">
         <h2>Step2</h2>
         <h3>予定表に追加</h3>
         <%= image_tag 'calendar',:size=> '150x150' %>
         <p>授業で課題やテストが出たら予定表に追加する。追加された予定の前日にメールでお知らせが届きます。</p>
      </div>
   </div>
   <div class="col-md-4 slide-bottom show mb">
      <div class="col-md-10 col-md-push-1 wht center">
         <h2>Step3</h2>
         <h3>学習記録</h3>
         <%= image_tag 'notebook.jpg',:size=> '150x150' %>
         <p>一日の終りを振り返り学習時間を記録する。グラフにより視覚化された自身の学習記録をもとに作戦を練る。</p>
      </div>
   </div>

</div>

<div class="row homeskil slide-bottom show">
   <h1>使用技術</h1>
   <div class="col-md-10 col-md-push-1 wht">
      <ul>
         <li>Docker</li>
         <li>EC2</li>
         <li>RDS</li>
         <li>MYSQL</li>
         <li>Ruby on Rails</li>
         <li>Bootstrap</li>
         <li>jquery</li>
         <li>レスポンシブ対応</li>
      </ul>
   </div>
</div>

<div class="row center slide-bottom showbtn">
   <% if logged_in? %>
      <%= link_to "時間割",subjects_show_path,class: "btn btn-lg btn-warning" %>
      <%= link_to "学習時間",studytimes_show_path,class: "btn btn-lg btn-success" %>
      <%= link_to "予定表",notifications_path,class: "btn btn-lg btn-info" %>
   <% else %>
      <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-warning" %>
   <% end %>

</div>



 
