<% provide(:title, "学習時間編集") %>

<h1>学習時間編集</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3 wht">
        <%= form_with(model: @studytime,local: true) do |f| %>
            <%= render 'shared/error_messages',object: f.object %>
            
            <p>日付</p>
            <%= f.date_field :day,value: @studytime.day %>
            
            <p>合計時間（分）</p>
            <%= f.number_field :time %>
            
            <p>集中できた時間（分）</p>
            <%= f.number_field :ctime %>
            
            <%= f.submit "変更",class: "btn btn-primary" %>
        <% end %>

    </div>
</div>

