<% provide(:titel,"時間割") %>
<h1>時間割</h1>

<div class="row subject">
    <div class="table-responsive wht">
        <p class="text-success">科目名の下のリンクをクリックすると予定を追加できます。</p>
        <p>必修科目は<span class="red">赤</span>で表示されます。</p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>時限</th>
                    <th>月曜日</th>
                    <th>火曜日</th>
                    <th>水曜日</th>
                    <th>木曜日</th>
                    <th>金曜日</th>
                    <th>土曜日</th>
                </tr>
            </thead>
            <tbody>
                <% (0..5).each do |n| %>
                    <tr>
                        <th><%= n+1 %></th>
                        <td><% if @Mo[n] != "" %>
                                <span <% if @Mo[n].definitely %>class="red"<% end %> ><%= @Mo[n].name %></span><br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@Mo[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @Mo[n].name,homework_test: true) %>
                            <% end %></td>
                        <td><% if @Tu[n] != "" %>
                                <span <% if @Tu[n].definitely %>class="red"<% end %> ><%= @Tu[n].name %></span>
                                <br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@Tu[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @Tu[n].name,homework_test: true) %>
                            <% end %></td>
                        <td><% if @We[n] != "" %>
                                <span <% if @We[n].definitely %>class="red"<% end %> ><%= @We[n].name %></span>
                                <br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@We[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @We[n].name,homework_test: true) %>
                            <% end %></td>
                        <td><% if @Th[n] != "" %>
                                <span <% if @Th[n].definitely %>class="red"<% end %> ><%= @Th[n].name %></span>
                                <br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@Th[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @Th[n].name,homework_test: true) %>
                            <% end %></td>
                        <td><% if @Fr[n] != "" %>
                                <span <% if @Fr[n].definitely %>class="red"<% end %> ><%= @Fr[n].name %></span>
                                <br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@Fr[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @Fr[n].name,homework_test: true) %>
                            <% end %></td>
                        <td><% if @Sa[n] != "" %>
                                <span <% if @Sa[n].definitely %>class="red"<% end %> ><%= @Sa[n].name %></span>
                                <br>
                            
                                <%= link_to "課題",notifications_new_path(subject: "#{@Sa[n].name}",homework_test: false) %> | <%= link_to "テスト",notifications_new_path(subject: @Sa[n].name,homework_test: true) %>
                            <% end %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>